/* Brand Color's */
:root {
    --black: #000000;
    --white: #ffffff;
    --white-ourlay: #EBEBEB;
    --dark-brown: #1E1E1E;
    --background: #101113;
    --citrus: #A6A001;
    --gray: #ACACAC;
    --haaf-green: #8a989b;
    --gray-two: #4b4b4b;
    --border: #3E3E3E;
    --brand-color-rgba: linear-gradient(161deg, rgba(166, 160, 1, 0.01) 12.91%, rgba(166, 160, 1, 0.60) 87.19%);

}