.top-heading {
    background-color: var(--dark-brown);
    padding: 10px 0;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            a {
                img {
                    height: 40px;
                }
            }
        }

        .menu {
            >ul {
                display: flex;
                align-items: center;

                >li {
                    margin: 0 25px;
                    position: relative;

                    &:hover {
                        ul {
                            visibility: visible;
                            opacity: 1;
                            transform: rotateX(0);
                        }
                    }


                    &:first-child a {
                        color: var(--citrus);
                    }

                    a {
                        color: #FFF;
                        font-family: Syne;
                        font-size: 18px;
                        font-weight: 400;
                        transition: 0.5s all ease;
                        padding: 0 0 43px;

                        &:hover {
                            color: var(--citrus);
                        }
                    }


                    ul {
                        position: absolute;
                        left: -44px;
                        top: 53px;
                        background-color: var(--white);
                        width: 250px;
                        flex-direction: column;
                        visibility: hidden;
                        border-radius: 5px;
                        border-top: 4px solid var(--citrus);
                        border-bottom: 4px solid var(--citrus);
                        opacity: 0;
                        transform: translateY(12%);
                        transition: transform .4s, opacity .1s;
                        z-index: 9999;

                        li {
                            a {
                                display: block;
                                padding: 15px 20px;
                                // border-bottom: 1px solid var(--border);
                                font-size: 16px;
                                text-align: left;
                                color: var(--black);
                                position: relative;


                                &:hover {
                                    // border-color: var(--citrus);
                                    color: var(--citrus);
                                    // background-color: var(--dark-brown);
                                    width: 251px;
                                    margin-left: 16px;

                                    &::after {
                                        position: absolute;
                                        left: 1px;
                                        top: 15;
                                        content: "/ /";
                                    }
                                }
                            }
                        }
                    }


                }


            }


        }



        .lets-buttan {
            a {
                font-size: 18px;
                color: #fff;
                position: relative;
                z-index: 1;
                display: inline-block;
                padding: 11px 10px 9px 10px;
                background: transparent;
                border-radius: 23px;
                transition: .5s;


                img {
                    width: 10px;
                    vertical-align: middle;
                    margin: 0 8px;
                }

                &:hover {
                    color: #fff;
                }

                &::before {
                    content: "";
                    height: 100%;
                    width: 0;
                    background: var(--citrus);
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    transition: .5s;
                    border-top-right-radius: 23px;
                    border-bottom-right-radius: 23px;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }

                &:hover::before {
                    width: 100%;
                }

                &::after {
                    position: absolute;
                    height: 42px;
                    width: 42px;
                    background: var(--citrus);
                    border-radius: 50%;
                    content: "";
                    left: -10px;
                    top: 50%;
                    z-index: -1;
                    transform: translate(0, -50%);
                }
            }


        }
    }
}