.helvetica {
    font-family: 'helveticarounded_bold';
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .slider-text {

        h3 {

            color: #FFF;
            font-size: 18px;
            font-weight: 600;
        }

        h1 {
            @extend .helvetica;
            color: #FFF;
            padding-top: 20px;
            font-size: 65px;
            font-weight: 700;

        }

        span {
            color: var(--citrus);
        }

        p {
            color: #FFF;
            font-size: 18px;
            font-weight: 600;
            width: 600px;
            line-height: 30px;
            padding-top: 20px;
        }

        .slider-buttan {
            display: flex;
            align-items: center;
            padding-top: 60px;
            margin-left: 10px;

            a {
                font-size: 18px;
                color: #fff;
                position: relative;
                z-index: 1;
                display: flex;
                align-items: center;
                padding: 10px 10px 11px 4px;
                background: transparent;
                border-radius: 23px;
                transition: .5s;


                img {
                    width: 10px;
                    vertical-align: middle;
                    margin: 0 8px;
                }

                &:hover {
                    color: #fff;
                }

                &::before {
                    content: "";
                    height: 100%;
                    width: 0;
                    background: var(--citrus);
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    transition: .5s;
                    border-top-right-radius: 23px;
                    border-bottom-right-radius: 23px;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }

                &:hover::before {
                    width: 100%;
                }

                &::after {
                    position: absolute;
                    height: 42px;
                    width: 42px;
                    background: var(--citrus);
                    border-radius: 50%;
                    content: "";
                    left: -10px;
                    top: 50%;
                    z-index: -1;
                    transform: translate(0, -50%);
                }
            }

        }
    }

    .slider-image {
        img {
            height: 100vh;
        }
    }
}

.software {
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--dark-brown);
        padding: 30px 10px;

        li {
            img {
                width: 120px;
            }
        }
    }
}