@media screen and (max-width:767px) {

    .container {
        width: 100%;
        padding: 0 15px;
    }


    .slider {
        height: auto;

        header {
            background-color: var(--brand-primary);

            .logo {
                height: 60px;
            }

            .menu-icon {
                display: block;

                img {
                    height: 40px;
                }
            }

            .menu {
                position: absolute;
                left: 0;
                top: 0;
                background: var(--white);
                width: 75%;
                -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                height: 100%;
                z-index: 99;
                display: none;
                a {
                    color: var(--brand-primary);
                    

                    img {
                        display: none;
                    }
                }

                ul {
                    flex-direction: column;
                    align-items: center;

                    li {
                        padding: 18px 0;                        
                        width: 100%;
                        border-bottom: 1px solid #c5c5c5;
                    }

                    li:last-child {
                        display: none;

                    }
                }
            }
        }

        .slider-text {
            padding-top: 26px;

            h1 {
                color: var(--white);
                font-size: 34px;
                width: auto;
            }

            p {
                color: var(--white);
                font-size: 20px;
                font-weight: 500;
                width: auto;
                line-height: 30px;
                padding-top: 20px;
            }

            a {
                margin: 38px 0;
            }
        }
    }


    .services-heading {
        h3 {
            font-size: 30px;
        }

        p {
            font-size: 16px;
        }
    }

    .services-box {
        ul {
            flex-direction: column;

            li {

                margin: 20px 0;

                img {
                    width: 100%;
                    height: auto;
                }


            }
        }
    }


    .transportation {

        .transportation-image {
            flex-direction: column;

            img {
                height: 389px;
            }

            .transportation-text {

                span {
                    font-size: 18px;
                }

                h2 {
                    font-size: 27px;
                    line-height: 44px;
                    width: 343px;

                }

                p {
                    font-size: 14px;

                    line-height: 27px;
                    width: 365px;

                }

                a {
                    padding: 24px 27px
                }

                .consulting {
                    ul {

                        li {
                            align-items: normal;

                            img {
                                height: 75px;
                            }

                            .consulting-text {
                                h3 {
                                    font-size: 19px;
                                    font-weight: 600;
                                    line-height: 11px;
                                }

                                p {
                                    font-size: 14px;
                                    line-height: 25px;
                                    padding-top: 10px;
                                    width: 266px;
                                }
                            }
                        }
                    }
                }
            }

        }


    }

    .transport {
        ul {
            li {
                img {
                    width: 100%;
                    height: 450px;
                }

                .ourlay {
                    height: 470px;
                    width: 100%;

                    .ourlay-text {

                        h2 {
                            font-size: 28px;
                            line-height: 34px;
                            width: 357px;
                            padding-top: 19px;
                        }

                        p {
                            font-size: 14px;
                            line-height: 25px;
                            width: 349px;
                            padding-top: 32px;
                        }

                        a {
                            padding: 17px 22px;
                        }
                    }
                }

                .ourlay-left {
                    width: 100%;
                    height: 450px;

                    .ourlay-text {

                        h2 {
                            font-size: 28px;
                            line-height: 34px;
                            width: 357px;
                            padding-top: 19px;
                        }

                        p {
                            font-size: 14px;
                            line-height: 25px;
                            width: 349px;
                            padding-top: 32px;
                        }

                        a {
                            padding: 17px 22px;
                        }
                    }
                }
            }
        }
    }


    .work {
        .work-heading {
            h2 {
                font-size: 30px;
            }

            p {
                font-size: 18px;
                padding-bottom: 20px;
            }
        }

        .work-box {
            ul {
                flex-direction: column;

                li {
                    width: 100%;
                    margin: 30px 0px;
                }
            }
        }
    }

    .customer {
        height: 790px;

        ul {
            flex-direction: column;

            li {
                padding-top: 44px;
            }
        }
    }



    .testimonials-heading {
        h2 {
            font-size: 30px;
            padding: 0;
        }

        p {
            font-size: 18px;
            padding-bottom: 20px;
        }
    }

    .testimonials {
        ul {
            flex-direction: column;

            li {
                width: 100%;
                margin: 30px 0px;
                height: auto;

                .testimonials-text {
                    p {
                        font-size: 18px;
                        line-height: 23px;
                        padding-top: 20px;
                        width: 288px;
                    }
                }
            }
        }
    }

    .air-transport {
        ul {
            li {
                img {
                    width: 100%;
                    height: 450px;
                }

                .ourlay {
                    height: 470px;
                    width: 100%;

                    .ourlay-text {

                        h2 {
                            font-size: 28px;
                            line-height: 34px;
                            width: 357px;
                            padding-top: 19px;
                        }

                        p {
                            font-size: 14px;
                            line-height: 25px;
                            width: 349px;
                            padding-top: 32px;
                        }

                        a {
                            padding: 17px 22px;
                        }
                    }
                }

                .ourlay-left {
                    width: 100%;
                    height: 450px;

                    .ourlay-text {

                        h2 {
                            font-size: 28px;
                            line-height: 34px;
                            width: 357px;
                            padding-top: 19px;
                        }

                        p {
                            font-size: 14px;
                            line-height: 25px;
                            width: 349px;
                            padding-top: 32px;
                        }

                        a {
                            padding: 17px 22px;
                        }
                    }
                }
            }
        }
    }

    .clients {

        .clients-heading {
            h2 {
                font-size: 30px;
                padding: 20px;
            }

            p {
                font-size: 18px;
                padding: 0;
            }
        }

        .clients-image {
            ul {
                flex-direction: column;

                li {

                    margin: 40px;

                    .left-arrow-clients {
                        display: none;
                    }

                    .right-arrow-clients {
                        display: none;
                    }
                }
            }
        }
    }

    .blog {

        .our-blog-heading {
            h2 {
                font-size: 30px;
            }

            p {
                font-size: 18px;
            }
        }

        .blog-box {
            ul {
                flex-direction: column;

                li {
                    width: 100%;
                    margin: 30px 0;
                }
            }
        }
    }

    .fhutar-top-icon {
        height: auto;

        .left-image {
            padding-top: 14px;
            flex-direction: column;

            ul {
                flex-direction: column;

                li {
                    flex-direction: column;
                    text-align: center;
                    padding: 12px 0;

                    h3 {
                        padding: 10px 0;
                    }
                }
            }

            .social-right> {
                ul {
                    display: none;
                }
            }
        }
    }

    .fhutar {
        height: 665px;

        .ourlay-foutar {
            .foutar-all {
                flex-direction: column;
                margin-top: 50px;
                text-align: center;

                .left-penal {
                    p {
                        width: auto;
                    }
                }

                .cenatr-penal {
                    input {
                        width: 345px;
                        height: 55px;
                    }
                }

                .foutar-right {
                    img {
                        margin: 30px 0;
                    }
                }
            }


        }
    }
}